# cloud.yaml contains the default configuration that's made available on the
# internet.
client:
  servers:
    roundrobin:
      host: roundrobin.getiantem.org
      port: 443
      masqueradeset: "cloudflare"
      insecureskipverify: false
      dialtimeoutmillis: 0
      keepalivemillis: 0
      weight: 1000
      qos: 5
    fallbacks:
      host: fallbacks.getiantem.org
      port: 443
      masquerades: *cf
      insecureskipverify: false
      dialtimeoutmillis: 0
      keepalivemillis: 0
      weight: 1000000
      qos: 10
    peers:
      host: peers.getiantem.org
      port: 443
      masqueradeset: "cloudflare"
      insecureskipverify: false
      dialtimeoutmillis: 0
      keepalivemillis: 0
      weight: 1000
      qos: 2
  masqueradesets:
    cloudflare:{% for key, val in masquerades.iteritems() %}
    - domain: {{ key }}
      rootca: "{{ val }}"{% endfor %}
