[submodule "replica"]
	path = replica
	url = https://github.com/getlantern/replica.git
        branch = delete-file
[submodule "confluence"]
	path = confluence
	url = https://github.com/anacrolix/confluence.git
[submodule "torrent"]
	path = torrent
	url = https://github.com/anacrolix/torrent.git
[submodule "dht"]
	path = dht
	url = https://github.com/anacrolix/dht
[submodule "log"]
	path = log
	url = https://github.com/anacrolix/log
[submodule "envpprof"]
	path = envpprof
	url = https://github.com/anacrolix/envpprof
[submodule "missinggo"]
	path = missinggo
	url = https://github.com/anacrolix/missinggo
