[submodule "dht"]
	path = dht
	url = https://github.com/anacrolix/dht
[submodule "replica"]
	path = replica
	url = https://github.com/getlantern/replica
[submodule "torrent"]
	path = torrent
	url = https://github.com/anacrolix/torrent
