# cloud.yaml contains the default configuration that's made available on the
# internet.
client:
  firetweetversion: "{{.ftVersion}}"
  showads: "{{.showAds}}"
  proxiedconnectports: [80, 443, 8080, 8443, 5222, 5223, 5224, 5228, 5229, 7300, 19305, 19306, 19307, 19308, 19309]
  frontedservers: []
  chainedservers: {{range .fallbacks}}
    fallback-{{.ip}}:
      addr: {{.ip}}
      cert: "{{.cert}}"
      authtoken: "{{.auth_token}}"
      pipelined: true
      weight: 1000000
      qos: 10
      trusted: true{{end}}
  fronted:
    providers: {{range $pid, $p := .providers}}
      {{$pid}}:
        hostaliases: {{range $k, $v := $p.HostAliases}}
          {{$k}}: {{$v}}{{end}}
        testurl: {{$p.TestURL}}{{if $p.Validator}}
        validator:{{if $p.Validator.RejectStatus}}
          rejectstatus: [{{range $i, $e := $p.Validator.RejectStatus}}{{if $i}}, {{end}}{{$e}}{{end}}]{{end}}{{end}}
        masquerades: {{if eq $pid "cloudfront"}}&cfmasq{{end}}{{range $p.Masquerades}}
        - domain: {{.Domain}}
          ipaddress: {{.IpAddress}}{{end}}{{else}}{}{{end}}
  masqueradesets:
    cloudflare: []
    {{if .providers.cloudfront}}cloudfront: *cfmasq{{else}}cloudfront: {{range .cloudfrontMasquerades}}
    - domain: {{.Domain}}
      ipaddress: {{.IpAddress}}{{else}}[]{{end}}{{end}}
proxiedsites:
  delta:
    additions: []
    deletions: []
  cloud:{{range $domain := .proxiedsites }}
  - {{$domain}}{{end}}
trustedcas: {{range .cas}}
- commonname: "{{.CommonName}}"
  cert: "{{.Cert}}"{{end}}
globalconfigpollinterval: 24h
proxyconfigpollinterval: 1m
