package config

import "github.com/getlantern/flashlight/client"

var cloudflareMasquerades = &client.MasqueradeSet{
    TrustedCAs: []string { {{range .cas}}
        "{{.Cert}}", {{end}}
    },
    Masquerades: []*client.Masquerade{ {{range .masquerades}}
    	&client.Masquerade{
    		Domain:    "{{.Domain}}",
    		IpAddress: "{{.IpAddress}}",
    	}, {{end}}
    },
}
